In [172]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Import Dataset

In [698]:
xls_path = pd.ExcelFile('/Users/dileepsathyan/Documents/GitHub/Assignments/Vroom Virtusa/Analytics_Dataset.xlsx')
df_car_sales   = pd.read_excel(xls_path, 'car_sales')
df_car_details = pd.read_excel(xls_path, 'car_details')
df_car_claims  = pd.read_excel(xls_path, 'car_claims')

In [597]:
df_car_sales.head()

,car_id_sales,country,merchant_id,selling_date,selling_week,payment_date,sell_price,transport_to_merchant,transport_date
0,3421775349,ES,NaN,2021-04-29,2021-17,2021-05-14,1098,1,2021-05-31
1,5316743932,DE,NaN,2021-08-06,2021-31,2021-08-17,435,1,2021-08-31
2,5785159431,FR,NaN,2021-06-03,2021-22,2021-06-08,11028,0,NaN
3,7008763171,DE,NaN,2021-06-07,2021-23,2021-06-08,21100,1,NaN
4,1417558732,DE,NaN,2021-08-31,2021-35,2021-09-02,1943,1,2021-09-09

In [598]:
df_car_details.head()

,car_id_details,has_tuning,has_airbags,has_alarm_system,fuel_type,gear_type,ac_type,xenon_light,navigation_system,radio_system
0,5096178328,1,1,0,1039,1141,1049,0,1100,3534.0
1,1879501444,0,1,1,1039,1138,1049,0,0,3534.0
2,8375508078,1,1,1,1039,1139,0,0,0,1606.0
3,1266330246,0,1,0,1040,1139,1050,0,0,3534.0
4,9079520882,0,0,0,1039,1141,0,0,1100,3534.0

In [480]:
df_car_claims.head()

,car_id,claim_number,full_refunds,partial_refunds,voucher_amount,claim_status,status_code
0,7525691980,NaN,0,0,NaN,NaN,0
1,8543168465,C1AG79687,0,1,620.140528,CLOSED_FULLY_PROCESSED,26
2,7308726237,NaN,0,0,NaN,NaN,0
3,9070724843,NaN,0,0,NaN,NaN,0
4,6274074693,NaN,0,0,NaN,NaN,0

# Data Cleaning

## 1. Car_Sales Dataframe Cleaning

In [739]:
df_car_sales.shape

(70512, 9)

In [740]:
df_car_sales.drop_duplicates(inplace=True)
df_car_sales.shape

(69618, 9)

#### Convert to right datatypes

In [741]:
# df_car_sales['car_id_sales'] = df_car_sales['car_id_sales'].astype('str')
# df_car_sales['merchant_id'] = df_car_sales['merchant_id'].astype('str')

df_car_sales['selling_date'] = pd.to_datetime(df_car_sales['selling_date'])
df_car_sales['payment_date'] = pd.to_datetime(df_car_sales['payment_date'])
df_car_sales['transport_date'] = pd.to_datetime(df_car_sales['transport_date'])

# Rename primary column
df_car_sales.rename(columns={'car_id_sales': 'car_id'}, inplace=True)

df_car_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69618 entries, 0 to 70511
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   car_id                 69618 non-null  int64
 1   country                69618 non-null  object
 2   merchant_id            19088 non-null  float64
 3   selling_date           69618 non-null  datetime64[ns]
 4   selling_week           69618 non-null  object
 5   payment_date           69618 non-null  datetime64[ns]
 6   sell_price             69618 non-null  int64
 7   transport_to_merchant  69618 non-null  int64
 8   transport_date         32689 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(1), int64(3), object(2)
memory usage: 5.3+ MB

In [742]:
# Notice that the same car_ids are repeated for different merchant_ids

df_car_sales[df_car_sales['car_id'] == 5805619905]

,car_id,country,merchant_id,selling_date,selling_week,payment_date,sell_price,transport_to_merchant,transport_date
24388,5805619905,BE,16191229.0,2021-07-31,2021-30,2021-08-03,22596,1,2021-08-04
46739,5805619905,BE,14307587.0,2021-07-31,2021-30,2021-08-03,22596,1,2021-08-04

In [743]:
# There are merchant_ids who bought so many cars.

df_car_sales.merchant_id.value_counts()

8819318.0     823
5482442.0      97
2593085.0      92
6717821.0      64
2491964.0      62
             ...
3451474.0       1
6902952.0       1
5854417.0       1
6903110.0       1
10485917.0      1
Name: merchant_id, Length: 9102, dtype: int64

In [744]:
#### As long as we have no clarity on the correct Merchant who bought a car, it doesnt matter which record we delete.
#### Lets keep car_id only once and delete all following records for the sale.

df_car_sales = df_car_sales.drop_duplicates(subset='car_id', keep="first")

# Reset index
df_car_sales.reset_index(drop=True, inplace=True)

df_car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69551 entries, 0 to 69550
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   car_id                 69551 non-null  int64
 1   country                69551 non-null  object
 2   merchant_id            19021 non-null  float64
 3   selling_date           69551 non-null  datetime64[ns]
 4   selling_week           69551 non-null  object
 5   payment_date           69551 non-null  datetime64[ns]
 6   sell_price             69551 non-null  int64
 7   transport_to_merchant  69551 non-null  int64
 8   transport_date         32654 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(1), int64(3), object(2)
memory usage: 4.8+ MB

In [745]:
df_car_sales.head()

,car_id,country,merchant_id,selling_date,selling_week,payment_date,sell_price,transport_to_merchant,transport_date
0,3421775349,ES,NaN,2021-04-29,2021-17,2021-05-14,1098,1,2021-05-31
1,5316743932,DE,NaN,2021-08-06,2021-31,2021-08-17,435,1,2021-08-31
2,5785159431,FR,NaN,2021-06-03,2021-22,2021-06-08,11028,0,NaT
3,7008763171,DE,NaN,2021-06-07,2021-23,2021-06-08,21100,1,NaT
4,1417558732,DE,NaN,2021-08-31,2021-35,2021-09-02,1943,1,2021-09-09

## Car_Details Dataframe Cleaning

In [746]:
df_car_details.shape

(70512, 10)

In [747]:
df_car_details.drop_duplicates(inplace=True)
df_car_details.shape

(70034, 10)

In [748]:
df_car_details.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70034 entries, 0 to 70511
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_id_details     70034 non-null  int64
 1   has_tuning         70034 non-null  int64
 2   has_airbags        70034 non-null  int64
 3   has_alarm_system   70034 non-null  int64
 4   fuel_type          70034 non-null  int64
 5   gear_type          70034 non-null  int64
 6   ac_type            70034 non-null  int64
 7   xenon_light        70034 non-null  int64
 8   navigation_system  70034 non-null  int64
 9   radio_system       43494 non-null  float64
dtypes: float64(1), int64(9)
memory usage: 5.9 MB

#### Convert to right datatypes

In [749]:
# df_car_details['car_id_details'] = df_car_details['car_id_details'].astype('str')

# Rename primary column
df_car_details.rename(columns={'car_id_details': 'car_id'}, inplace=True)
df_car_details.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70034 entries, 0 to 70511
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_id             70034 non-null  int64
 1   has_tuning         70034 non-null  int64
 2   has_airbags        70034 non-null  int64
 3   has_alarm_system   70034 non-null  int64
 4   fuel_type          70034 non-null  int64
 5   gear_type          70034 non-null  int64
 6   ac_type            70034 non-null  int64
 7   xenon_light        70034 non-null  int64
 8   navigation_system  70034 non-null  int64
 9   radio_system       43494 non-null  float64
dtypes: float64(1), int64(9)
memory usage: 5.9 MB

In [750]:
## Check for duplicate records of same car_id

df_car_details[df_car_details.groupby('car_id')['car_id'].transform('size') > 1].sort_values(by='car_id').head(20)

,car_id,has_tuning,has_airbags,has_alarm_system,fuel_type,gear_type,ac_type,xenon_light,navigation_system,radio_system
49297,1021854212,0,0,0,1039,1141,0,0,1100,3534.0
25281,1021854212,0,0,0,1040,1141,0,0,1100,3534.0
19591,1071192762,1,1,1,1040,1139,1050,1089,1100,3534.0
37616,1071192762,1,1,1,1039,1139,1050,1089,1100,3534.0
20260,1092285954,1,1,0,1039,1138,1050,0,1100,NaN
62249,1092285954,1,1,0,1039,1138,1050,0,0,NaN
23369,1116277714,1,1,0,1039,1138,0,0,0,3534.0
62436,1116277714,1,1,0,1040,1138,0,0,1100,3534.0
50603,1130791238,1,1,0,1039,1141,1050,0,1100,1100.0
12934,1130791238,1,1,0,1040,1141,1050,0,1100,1100.0
11699,1131021388,1,1,0,1039,1138,1050,0,0,3534.0
18733,1131021388,1,1,0,1040,1138,1050,0,0,3534.0
24110,1134904596,0,0,0,1040,1141,0,0,0,3534.0
17581,1134904596,0,0,0,1039,1141,0,0,0,3534.0
48854,1175003748,1,1,0,1040,1138,1050,0,1100,1100.0
42760,1175003748,1,1,0,1039,1138,1050,0,1100,1100.0
11135,1189899240,0,0,0,1040,1141,0,0,1100,3534.0
54450,1189899240,0,0,0,1039,1141,0,0,0,3534.0
52138,1251496465,1,1,1,1039,1139,1050,1089,0,3534.0
67790,1251496465,1,1,1,1039,1139,1050,1089,1100,3534.0

In [751]:
# Subset the records with duplicate car_ids

df_cd_dup = df_car_details[df_car_details.groupby('car_id')['car_id'].transform('size') > 1].sort_values(by='car_id')
df_cd_dup.sort_values(by='car_id').head(10)

,car_id,has_tuning,has_airbags,has_alarm_system,fuel_type,gear_type,ac_type,xenon_light,navigation_system,radio_system
49297,1021854212,0,0,0,1039,1141,0,0,1100,3534.0
25281,1021854212,0,0,0,1040,1141,0,0,1100,3534.0
19591,1071192762,1,1,1,1040,1139,1050,1089,1100,3534.0
37616,1071192762,1,1,1,1039,1139,1050,1089,1100,3534.0
20260,1092285954,1,1,0,1039,1138,1050,0,1100,NaN
62249,1092285954,1,1,0,1039,1138,1050,0,0,NaN
23369,1116277714,1,1,0,1039,1138,0,0,0,3534.0
62436,1116277714,1,1,0,1040,1138,0,0,1100,3534.0
50603,1130791238,1,1,0,1039,1141,1050,0,1100,1100.0
12934,1130791238,1,1,0,1040,1141,1050,0,1100,1100.0

In [752]:
df_cd_dup.shape

(961, 10)

In [753]:
# Remove the duplicated car_ids from original dataframe to make it a deduplicated df.

df_cd_deduped = df_car_details.drop(df_cd_dup.index)
df_cd_deduped.shape

(69073, 10)

##### Notice from the above subset that fule_type and navigation_system are the 2 fields which cause duplication.

###### 1. Those who differ only by fuel_type, lets keep the first record of each car_id and delete the rest.

In [754]:
df_cd_dup = df_cd_dup.drop_duplicates(['car_id', 'navigation_system']).sort_values(by='car_id')

df_cd_dup.head(10)

,car_id,has_tuning,has_airbags,has_alarm_system,fuel_type,gear_type,ac_type,xenon_light,navigation_system,radio_system
49297,1021854212,0,0,0,1039,1141,0,0,1100,3534.0
19591,1071192762,1,1,1,1040,1139,1050,1089,1100,3534.0
20260,1092285954,1,1,0,1039,1138,1050,0,1100,NaN
62249,1092285954,1,1,0,1039,1138,1050,0,0,NaN
23369,1116277714,1,1,0,1039,1138,0,0,0,3534.0
62436,1116277714,1,1,0,1040,1138,0,0,1100,3534.0
50603,1130791238,1,1,0,1039,1141,1050,0,1100,1100.0
11699,1131021388,1,1,0,1039,1138,1050,0,0,3534.0
24110,1134904596,0,0,0,1040,1141,0,0,0,3534.0
48854,1175003748,1,1,0,1040,1138,1050,0,1100,1100.0

In [755]:
df_cd_dup.shape

(792, 10)

In [756]:
# Filter the uniques and append to the deduped dataframe & drop the uniques from the df_cd_dup

df_temp = df_cd_dup[df_cd_dup.groupby('car_id')['car_id'].transform('size') == 1]

df_cd_deduped = df_cd_deduped.append(df_temp)
df_cd_dup = df_cd_dup.drop(df_temp.index)
df_cd_dup.head(10)

,car_id,has_tuning,has_airbags,has_alarm_system,fuel_type,gear_type,ac_type,xenon_light,navigation_system,radio_system
20260,1092285954,1,1,0,1039,1138,1050,0,1100,NaN
62249,1092285954,1,1,0,1039,1138,1050,0,0,NaN
23369,1116277714,1,1,0,1039,1138,0,0,0,3534.0
62436,1116277714,1,1,0,1040,1138,0,0,1100,3534.0
54450,1189899240,0,0,0,1039,1141,0,0,0,3534.0
11135,1189899240,0,0,0,1040,1141,0,0,1100,3534.0
52138,1251496465,1,1,1,1039,1139,1050,1089,0,3534.0
67790,1251496465,1,1,1,1039,1139,1050,1089,1100,3534.0
8106,1257596002,0,0,0,1039,1141,0,0,0,3534.0
67243,1257596002,0,0,0,1039,1141,0,0,1100,3534.0

In [757]:
df_cd_dup.shape

(628, 10)

##### 2. Those who differ only by navigation_system, lets keep the first record of each car_id and delete the rest.

In [758]:
df_cd_dup = df_cd_dup.drop_duplicates(['car_id', 'fuel_type']).sort_values(by='car_id')

df_cd_dup.head(10)

,car_id,has_tuning,has_airbags,has_alarm_system,fuel_type,gear_type,ac_type,xenon_light,navigation_system,radio_system
20260,1092285954,1,1,0,1039,1138,1050,0,1100,NaN
23369,1116277714,1,1,0,1039,1138,0,0,0,3534.0
62436,1116277714,1,1,0,1040,1138,0,0,1100,3534.0
54450,1189899240,0,0,0,1039,1141,0,0,0,3534.0
11135,1189899240,0,0,0,1040,1141,0,0,1100,3534.0
52138,1251496465,1,1,1,1039,1139,1050,1089,0,3534.0
8106,1257596002,0,0,0,1039,1141,0,0,0,3534.0
69446,1257782013,1,1,0,1039,1138,0,0,0,NaN
29230,1257782013,1,1,0,1040,1138,0,0,1100,NaN
54861,1266182032,0,0,0,1039,1141,0,0,1100,3534.0

In [759]:
# Filter the uniques and append to the deduped dataframe & drop the uniques from the df_cd_dup

df_temp = df_cd_dup[df_cd_dup.groupby('car_id')['car_id'].transform('size') == 1]

df_cd_deduped = df_cd_deduped.append(df_temp)
df_cd_dup = df_cd_dup.drop(df_temp.index)
df_cd_dup.head(10)

,car_id,has_tuning,has_airbags,has_alarm_system,fuel_type,gear_type,ac_type,xenon_light,navigation_system,radio_system
23369,1116277714,1,1,0,1039,1138,0,0,0,3534.0
62436,1116277714,1,1,0,1040,1138,0,0,1100,3534.0
54450,1189899240,0,0,0,1039,1141,0,0,0,3534.0
11135,1189899240,0,0,0,1040,1141,0,0,1100,3534.0
69446,1257782013,1,1,0,1039,1138,0,0,0,NaN
29230,1257782013,1,1,0,1040,1138,0,0,1100,NaN
64274,1550589125,0,0,0,1039,1141,0,0,0,3534.0
2198,1550589125,0,0,0,1040,1141,0,0,1100,3534.0
47017,1675413187,0,0,0,1039,1141,0,0,0,3534.0
47934,1675413187,0,0,0,1040,1141,0,0,1100,3534.0

In [760]:
df_cd_dup.shape

(134, 10)

###### 3. Those who differ in both navigation_system & fuel_type, lets keep the record with 1100 as nav_system and delete the 0 values.

In [761]:
df_cd_dup = df_cd_dup[df_cd_dup['navigation_system'] != 0]
df_cd_deduped = df_cd_deduped.append(df_cd_dup)
df_cd_deduped.shape

(69551, 10)

In [762]:
df_car_details = df_cd_deduped

# Reset index
df_car_details.reset_index(drop=True, inplace=True)

df_car_details.shape

(69551, 10)

## Car_Claims Dataframe Cleaning

In [699]:
df_car_claims.shape

(70512, 6)

In [700]:
df_car_claims.drop_duplicates(inplace=True)
df_car_claims.shape

(70504, 6)

In [701]:
df_car_claims.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70504 entries, 0 to 70511
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   car_id_claims    70504 non-null  int64
 1   claim_number     19974 non-null  object
 2   full_refunds     70504 non-null  int64
 3   partial_refunds  70504 non-null  int64
 4   voucher_amount   15173 non-null  float64
 5   claim_status     19974 non-null  object
dtypes: float64(1), int64(3), object(2)
memory usage: 3.8+ MB

#### Convert to right datatypes

In [702]:
# df_car_claims['car_id_claims'] = df_car_claims['car_id_claims'].astype('str')
# df_car_claims['claim_number'] = df_car_claims['claim_number'].astype('str')

# Rename primary column
df_car_claims.rename(columns={'car_id_claims': 'car_id'}, inplace=True)

df_car_claims.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70504 entries, 0 to 70511
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   car_id           70504 non-null  int64
 1   claim_number     19974 non-null  object
 2   full_refunds     70504 non-null  int64
 3   partial_refunds  70504 non-null  int64
 4   voucher_amount   15173 non-null  float64
 5   claim_status     19974 non-null  object
dtypes: float64(1), int64(3), object(2)
memory usage: 3.8+ MB

In [703]:
df_car_claims.head()

,car_id,claim_number,full_refunds,partial_refunds,voucher_amount,claim_status
0,7525691980,NaN,0,0,NaN,NaN
1,8543168465,C1AG79687,0,1,620.140528,CLOSED_FULLY_PROCESSED
2,7308726237,NaN,0,0,NaN,NaN
3,9070724843,NaN,0,0,NaN,NaN
4,6274074693,NaN,0,0,NaN,NaN

In [706]:
# In case of full_refunds, there cannot be a voucher_amount.
# In other words, if the voucher_amount exists, fix the full_refunds fields values to 0.

idx = df_car_claims[df_car_claims['voucher_amount'].notnull() &
                   (df_car_claims['full_refunds'] == 1) & 
                   (df_car_claims['partial_refunds']== 1)].index

idx

Int64Index([ 3977,  5837,  7572,  7682,  8626,  9419, 11645, 12005, 12717,
            13239, 14913, 17342, 17667, 18612, 20365, 21321, 22204, 23521,
            24947, 25942, 28158, 28711, 30803, 30819, 31675, 31813, 31828,
            33221, 34505, 34681, 39289, 39766, 41513, 42285, 43052, 43709,
            43883, 44702, 44808, 45811, 46930, 49073, 49442, 50475, 51577,
            55796, 57965, 58991, 60969, 61978, 62810, 63861, 66466, 68141,
            69005],
           dtype='int64')

In [707]:
idx

Int64Index([ 3977,  5837,  7572,  7682,  8626,  9419, 11645, 12005, 12717,
            13239, 14913, 17342, 17667, 18612, 20365, 21321, 22204, 23521,
            24947, 25942, 28158, 28711, 30803, 30819, 31675, 31813, 31828,
            33221, 34505, 34681, 39289, 39766, 41513, 42285, 43052, 43709,
            43883, 44702, 44808, 45811, 46930, 49073, 49442, 50475, 51577,
            55796, 57965, 58991, 60969, 61978, 62810, 63861, 66466, 68141,
            69005],
           dtype='int64')

In [710]:
# Adjusting the full_refunds values to 0 to perfect the dataframe

df_car_claims['full_refunds'][idx] = 0
df_car_claims.loc[idx]

<ipython-input-710-83a9eb8a8b0e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_car_claims['full_refunds'][idx] = 0

,car_id,claim_number,full_refunds,partial_refunds,voucher_amount,claim_status
3977,3252585712,C1YP17288,0,1,5744.003952,CLOSED_FULLY_PROCESSED
5837,8767210209,C2VN02471,0,1,668.721766,CLOSED_FULLY_PROCESSED
7572,5138342450,C1FH72285,0,1,440.810000,CLOSED_WAITING_FOR_MONEY_TO_BE_SHIPPED_AND_COM...
7682,4167620373,C1HV98906,0,1,642.250289,CLOSED_FULLY_PROCESSED
8626,3849154773,C2MK47916,0,1,1908.542760,CLOSED_FULLY_PROCESSED
9419,7126220105,C1JN31283,0,1,3332.783670,CLOSED_WAITING_FOR_DOCUMENTS
11645,5651680001,C2AD14746,0,1,2626.791369,CLOSED_FULLY_PROCESSED
12005,5695116910,C1FW75767,0,1,5836.771912,CLOSED_FULLY_PROCESSED
12717,7062433160,C1PJ06009,0,1,1036.506844,CLOSED_FULLY_PROCESSED
13239,4082762073,C2DC67695,0,1,654.567829,CLOSED_FULLY_PROCESSED
14913,2476335258,C2RC51137,0,1,1443.245324,CLOSED_FULLY_PROCESSED
17342,7587405030,C2CP32955,0,1,2805.181960,CLOSED_FULLY_PROCESSED
17667,2260346656,C2RJ81471,0,1,2307.492754,CLOSED_FULLY_PROCESSED
18612,6076579282,C1CP77477,0,1,1687.187483,CLOSED_FULLY_PROCESSED
20365,8721703477,C2NF29747,0,1,299.108492,CLOSED_FULLY_PROCESSED
21321,7742228459,C1ST12536,0,1,1809.607312,CLOSED_FULLY_PROCESSED
22204,4652662552,C2TP94817,0,1,3977.671264,CLOSED_FULLY_PROCESSED
23521,4007756070,C1SG46852,0,1,1968.944598,CLOSED_FULLY_PROCESSED
24947,7438935953,C1AX66981,0,1,3122.035171,CLOSED_FULLY_PROCESSED
25942,5259747170,C1FV96036,0,1,729.037400,CLOSED_FULLY_PROCESSED
28158,1194352538,C1CN03778,0,1,2481.429402,CLOSED_FULLY_PROCESSED
28711,4133098497,C1KL23118,0,1,757.835037,CLOSED_FULLY_PROCESSED
30803,5810561643,C1FE64650,0,1,1479.366862,CLOSED_FULLY_PROCESSED
30819,1648717414,C3LA54552,0,1,892.470236,CLOSED_FULLY_PROCESSED
31675,4189914945,C1FJ66662,0,1,743.714662,CLOSED_WAITING_FOR_DOCUMENTS
31813,8571383996,C1YJ58556,0,1,2083.426345,CLOSED_FULLY_PROCESSED
31828,5741071808,C1GK19555,0,1,1785.810841,CLOSED_FULLY_PROCESSED
33221,5295349771,C1XK27372,0,1,2862.487909,CLOSED_FULLY_PROCESSED
34505,3521020465,C1KX56923,0,1,3151.862696,CLOSED_FULLY_PROCESSED
34681,1602809225,C1NV05571,0,1,1668.900007,CLOSED_FULLY_PROCESSED
39289,1398883933,C1KJ27851,0,1,2504.094225,CLOSED_FULLY_PROCESSED
39766,9755620637,C1XT61163,0,1,1602.718040,CLOSED_WAITING_FOR_MONEY_TO_BE_SHIPPED_AND_COM...
41513,5893970292,C1SF82142,0,1,3516.064992,CLOSED_FULLY_PROCESSED
42285,1073260344,C1NP32210,0,1,4474.989742,CLOSED_FULLY_PROCESSED
43052,2121672652,C1BN55513,0,1,3518.932678,CLOSED_FULLY_PROCESSED
43709,3042901160,C2MM65212,0,1,1447.566645,CLOSED_FULLY_PROCESSED
43883,4204817822,C1KF62823,0,1,1437.934142,CLOSED_FULLY_PROCESSED
44702,5079364378,C1HW44600,0,1,1953.950672,CLOSED_FULLY_PROCESSED
44808,9749504644,C1AU56422,0,1,1478.255717,CLOSED_FULLY_PROCESSED
45811,4406011384,C1XW85285,0,1,1479.427404,CLOSED_FULLY_PROCESSED
46930,5592172729,C1ZC12678,0,1,962.841729,CLOSED_FULLY_PROCESSED
49073,8893039463,C1HC80846,0,1,474.750923,CLOSED_FULLY_PROCESSED
49442,6272676307,C1TS53332,0,1,7022.304112,CLOSED_FULLY_PROCESSED
50475,5864493046,C2PX43888,0,1,7314.080000,CLOSED_FULLY_PROCESSED
51577,8699969986,C1RT32241,0,1,2825.761639,CLOSED_FULLY_PROCESSED
55796,7799665374,C3AL99701,0,1,1349.424417,CLOSED_FULLY_PROCESSED
57965,1432817444,C1MG22198,0,1,1961.970000,CLOSED_FULLY_PROCESSED
58991,4511332123,C1CT72046,0,1,5933.340000,CLOSED_FULLY_PROCESSED
60969,8378260177,C1MF07286,0,1,764.934671,CLOSED_FULLY_PROCESSED
61978,7852660173,C1PF27067,0,1,2030.142518,CLOSED_FULLY_PROCESSED
62810,1697838741,C1TF36107,0,1,729.336882,CLOSED_WAITING_FOR_MONEY_TO_BE_SHIPPED_AND_COM...
63861,5301740447,C1ND34612,0,1,1190.000000,CLOSED_FULLY_PROCESSED
66466,1469750417,C4FB83286,0,1,4073.200000,CLOSED_FULLY_PROCESSED
68141,2824359303,C1EY46469,0,1,3320.006886,CLOSED_FULLY_PROCESSED
69005,3335542002,C1FA64237,0,1,1510.972441,CLOSED_FULLY_PROCESSED

In [711]:
df_car_claims['claim_status'].value_counts()

CLOSED_FULLY_PROCESSED                                                    7910
REJECTED                                                                  5026
CLOSED_NO_COMPENSATION                                                    3410
CREATED                                                                   1262
CLOSED_ITEMS_FOUND_AND_SENT                                                783
CLOSED_WAITING_FOR_MORE_PROOF                                              348
PROOF_NOT_RECEIVED                                                         309
WAITING_FOR_SALES_TO_NEGOTIATE_WITH_THE_MERCHANT                           234
WAITING_FOR_LOCAL_OPS_MD_DECISION                                          159
MISSING_ITEMS_IN_PROGRESS                                                  134
2ND_DECISION_WAITING_FOR_SALES_TO_NEGOTIATE_WITH_MERCHANT                   77
NEW                                                                         72
WAITING_FOR_CLAIMS_TEAM_2_EVALUATION                                        45
CLOSED_WAITING_FOR_MERCHANT_BANK_DETAILS                                    34
2ND_DECISION_WAITING_FOR_LOCAL_OPS_MD_DECISION                              33
CLOSED_WAITING_FOR_MONEY_TO_BE_SHIPPED_AND_COMPENSATION_TO_BE_RECORDED      32
CLOSED_CARRIER_WILL_COMPENSATE                                              18
CLOSED_WAITING_FOR_DOCUMENTS                                                16
NEW_MISSING_ITEM_CLAIM                                                      16
CLOSED_OVER_TIME_LIMIT                                                      12
WAITING_FOR_CLAIMS_TEAM_1_EVALUATION                                        11
CLOSED_WAITING_FOR_CAR_DOCUMENTS_AND_BANK_DETAILS                           10
WAITING_FOR_CARRIER_FEEDBACK                                                10
MORE_PROOF_RECEIVED                                                          4
WAITING_FOR_LEGAL_TEAM                                                       3
2ND_EVALUATION_CLAIMS_TEAM_2                                                 3
WAITING_FOR_BANK_DETAILS_VALIDATION                                          2
CLOSED_WAITING_FOR_COMPENSATION_TO_BE_RECORDED                               1
Name: claim_status, dtype: int64

In [712]:
status_codes = { np.NaN: 0,
                'CREATED': 1,
                'NEW_MISSING_ITEM_CLAIM': 1,
                'NEW': 1,

                'PROOF_NOT_RECEIVED': 2,
                'CLOSED_WAITING_FOR_MORE_PROOF': 3,
                'CLOSED_OVER_TIME_LIMIT': 4,
                'MORE_PROOF_RECEIVED': 5,
                'WAITING_FOR_CLAIMS_TEAM_1_EVALUATION': 6,
                '2ND_EVALUATION_CLAIMS_TEAM_2': 7,
                'WAITING_FOR_CLAIMS_TEAM_2_EVALUATION': 8,
                'WAITING_FOR_CARRIER_FEEDBACK': 9,
                'WAITING_FOR_LEGAL_TEAM': 10,

                'CLOSED_NO_COMPENSATION': 11,
                'REJECTED': 12,

                'MISSING_ITEMS_IN_PROGRESS': 13,
                'CLOSED_ITEMS_FOUND_AND_SENT': 14,

                'WAITING_FOR_SALES_TO_NEGOTIATE_WITH_THE_MERCHANT': 15,
                '2ND_DECISION_WAITING_FOR_SALES_TO_NEGOTIATE_WITH_MERCHANT': 16,
                'WAITING_FOR_LOCAL_OPS_MD_DECISION': 17,
                '2ND_DECISION_WAITING_FOR_LOCAL_OPS_MD_DECISION': 18,

                'CLOSED_CARRIER_WILL_COMPENSATE': 19,

                'CLOSED_WAITING_FOR_MERCHANT_BANK_DETAILS': 20, 
                'CLOSED_WAITING_FOR_CAR_DOCUMENTS_AND_BANK_DETAILS': 21,
                'WAITING_FOR_BANK_DETAILS_VALIDATION': 22,

                'CLOSED_WAITING_FOR_MONEY_TO_BE_SHIPPED_AND_COMPENSATION_TO_BE_RECORDED': 23,
                'CLOSED_WAITING_FOR_COMPENSATION_TO_BE_RECORDED': 24,
                'CLOSED_WAITING_FOR_DOCUMENTS': 25,
                'CLOSED_FULLY_PROCESSED': 26 }

In [713]:
df_cc = df_car_claims.copy()
df_cc['status_code'] = df_cc['claim_status'].map(status_codes)
# df_cc = df_cc.sort_values(by=['car_id', 'status_code'])
df_cc.head()

,car_id,claim_number,full_refunds,partial_refunds,voucher_amount,claim_status,status_code
0,7525691980,NaN,0,0,NaN,NaN,0
1,8543168465,C1AG79687,0,1,620.140528,CLOSED_FULLY_PROCESSED,26
2,7308726237,NaN,0,0,NaN,NaN,0
3,9070724843,NaN,0,0,NaN,NaN,0
4,6274074693,NaN,0,0,NaN,NaN,0

In [714]:
# df_cc.groupby(['car_id'])['status_code'].max()

idx = df_cc.groupby(['car_id'])['status_code'].transform(max) == df_cc['status_code']
df_cc = df_cc[idx]
df_cc.shape

(69640, 7)

In [715]:
# Identifying Pending Duplicates in the df

df_cc[df_cc['car_id']== 5149303881]

,car_id,claim_number,full_refunds,partial_refunds,voucher_amount,claim_status,status_code
10787,5149303881,C4TK46454,0,1,3112.880206,CLOSED_FULLY_PROCESSED,26
19814,5149303881,C4TK46454,1,0,NaN,CLOSED_FULLY_PROCESSED,26

In [716]:
df_cc['car_id'].nunique()

69551

In [717]:
# Subset the records with duplicate car_ids

df_cc_dup = df_cc[df_cc.groupby('car_id')['car_id'].transform('size') > 1].sort_values(by='car_id')
df_cc_dup.head(10)

,car_id,claim_number,full_refunds,partial_refunds,voucher_amount,claim_status,status_code
65138,1091480557,C1ZJ20861,0,1,3826.101648,CLOSED_FULLY_PROCESSED,26
4190,1091480557,C1ZJ20861,1,0,NaN,CLOSED_FULLY_PROCESSED,26
37116,1266182032,C1SS06287,0,1,2804.535297,CLOSED_FULLY_PROCESSED,26
6935,1266182032,C1SS06287,0,1,2149.457901,CLOSED_FULLY_PROCESSED,26
29497,1329241519,C2GR87979,0,1,705.036285,CLOSED_FULLY_PROCESSED,26
44485,1329241519,C2GR87979,0,1,482.114221,CLOSED_FULLY_PROCESSED,26
42278,1356214392,C1KB80609,0,1,2797.550353,REJECTED,12
25037,1356214392,C1KB80609,0,1,2337.572390,REJECTED,12
68046,1370035853,C2KX69437,0,1,1074.665772,CLOSED_FULLY_PROCESSED,26
31235,1370035853,C2KX69437,0,1,1394.864155,CLOSED_FULLY_PROCESSED,26

In [718]:
df_cc_dup.shape

(177, 7)

In [719]:
# Remove the duplicated car_ids from original dataframe to make it a deduplicated df.

df_cc_deduped = df_cc.drop(df_cc_dup.index)
df_cc_deduped.shape

(69463, 7)

In [720]:
df_cc_dup['car_id'].nunique()

88

In [721]:
df_cc_deduped['car_id'].nunique()

69463

##### Noticed that there are duplicate records with same claim_status
##### 1. Lets keep the record with voucher_amount for the duplicated records.

In [722]:
df_cd_dup.shape

(67, 10)

In [723]:
# 1a. Before deleting the rows with NULL voucher_amount, 
#     make sure that no duplicated car_ids have NULL values in both of the rows

df_cc_dup[df_cc_dup['voucher_amount'].isnull()]['car_id'].value_counts()

2802433468    2
9320910782    1
2818110547    1
2612408606    1
3855907037    1
7363990747    1
5036405350    1
4191587287    1
7151950304    1
8813163856    1
4427773773    1
3539094478    1
3842127670    1
4922195103    1
5149303881    1
7348849733    1
4065361055    1
4309735904    1
6974366625    1
4566417827    1
7613645214    1
5570835365    1
3096043603    1
5239366824    1
5755284393    1
4197008170    1
7096519625    1
1951678892    1
1091480557    1
9565824175    1
3157164086    1
1993742522    1
4998841339    1
9336612599    1
Name: car_id, dtype: int64

In [724]:
df_cc_dup[df_cc_dup['car_id']== 2802433468]

,car_id,claim_number,full_refunds,partial_refunds,voucher_amount,claim_status,status_code
60052,2802433468,C1CJ23334,0,0,NaN,CREATED,1
10175,2802433468,C1CJ23334,0,0,NaN,NEW,1

In [725]:
# Since there exists 1 record which has NULL values in both of its rows, 
# lets first clean it to take 1 row and append to the deduped dataframe.

df_cc_deduped = df_cc_deduped.append(df_cc_dup.loc[[60052]])
df_cc_deduped.shape

(69464, 7)

In [726]:
# Now drop the both rows of the car_id from dup dataframe.

df_cc_dup = df_cc_dup.drop([60052, 10175])
df_cc_dup.shape

(175, 7)

In [727]:
df_cc_dup.head()

,car_id,claim_number,full_refunds,partial_refunds,voucher_amount,claim_status,status_code
65138,1091480557,C1ZJ20861,0,1,3826.101648,CLOSED_FULLY_PROCESSED,26
4190,1091480557,C1ZJ20861,1,0,NaN,CLOSED_FULLY_PROCESSED,26
37116,1266182032,C1SS06287,0,1,2804.535297,CLOSED_FULLY_PROCESSED,26
6935,1266182032,C1SS06287,0,1,2149.457901,CLOSED_FULLY_PROCESSED,26
29497,1329241519,C2GR87979,0,1,705.036285,CLOSED_FULLY_PROCESSED,26

In [728]:
df_cc_dup.to_excel('df_cc_dup.xlsx')

In [729]:
# 1b. Now go on and delete the rows with NULL values in voucher_amount in the duplicated dataframe.

idx = df_cc_dup[df_cc_dup['voucher_amount'].isnull()].index

df_cc_dup = df_cc_dup.drop(idx)
df_cc_dup.shape

(142, 7)

In [730]:
# Append the unique rows to dedupted dataframe

df_temp = df_cc_dup[df_cc_dup.groupby('car_id')['car_id'].transform('size') == 1]
df_cc_deduped = df_cc_deduped.append(df_temp)

# Drop the deduped df from the duplicate dataframe
df_cc_dup = df_cc_dup.drop(df_temp.index)
df_cc_dup.shape

(109, 7)

In [731]:
df_cc_dup.head()

,car_id,claim_number,full_refunds,partial_refunds,voucher_amount,claim_status,status_code
37116,1266182032,C1SS06287,0,1,2804.535297,CLOSED_FULLY_PROCESSED,26
6935,1266182032,C1SS06287,0,1,2149.457901,CLOSED_FULLY_PROCESSED,26
29497,1329241519,C2GR87979,0,1,705.036285,CLOSED_FULLY_PROCESSED,26
44485,1329241519,C2GR87979,0,1,482.114221,CLOSED_FULLY_PROCESSED,26
42278,1356214392,C1KB80609,0,1,2797.550353,REJECTED,12

In [732]:
# 2. Now voucher_amount field contains only valid amounts. Lets keep the rows with max amounts and drop the rest.

idx = df_cc_dup.groupby(['car_id'])['voucher_amount'].transform(max) == df_cc_dup['voucher_amount']
df_cc_dup = df_cc_dup[idx]
df_cc_dup.shape

(54, 7)

In [733]:
# Append all the deduped rows to the 

df_cc_deduped = df_cc_deduped.append(df_cc_dup)
df_car_claims = df_cc_deduped

# Reset index
df_car_claims.reset_index(drop=True, inplace=True)

df_car_claims.shape

(69551, 7)

# Combine the dataframes to 1

In [763]:
df_car_sales.shape

(69551, 9)

In [764]:
df_car_details.shape

(69551, 10)

In [738]:
df_car_claims.shape

(69551, 7)

In [765]:
# Merging all the 3 dataframes into 1 master

df_master = df_car_sales.merge(df_car_details, on='car_id').merge(df_car_claims, on='car_id')
df_master.shape

(69551, 24)

In [766]:
df_master.head()

,car_id,country,merchant_id,selling_date,selling_week,payment_date,sell_price,transport_to_merchant,transport_date,has_tuning,...,ac_type,xenon_light,navigation_system,radio_system,claim_number,full_refunds,partial_refunds,voucher_amount,claim_status,status_code
0,3421775349,ES,NaN,2021-04-29,2021-17,2021-05-14,1098,1,2021-05-31,1,...,1050,0,0,3534.0,NaN,0,0,NaN,NaN,0
1,5316743932,DE,NaN,2021-08-06,2021-31,2021-08-17,435,1,2021-08-31,0,...,0,0,0,NaN,NaN,0,0,NaN,NaN,0
2,5785159431,FR,NaN,2021-06-03,2021-22,2021-06-08,11028,0,NaT,0,...,1050,0,1100,3534.0,NaN,0,0,NaN,NaN,0
3,7008763171,DE,NaN,2021-06-07,2021-23,2021-06-08,21100,1,NaT,0,...,1050,0,1100,3534.0,NaN,0,0,NaN,NaN,0
4,1417558732,DE,NaN,2021-08-31,2021-35,2021-09-02,1943,1,2021-09-09,0,...,1049,0,0,NaN,NaN,0,0,NaN,NaN,0

# Data Exploration

In [767]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69551 entries, 0 to 69550
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   car_id                 69551 non-null  int64
 1   country                69551 non-null  object
 2   merchant_id            19021 non-null  float64
 3   selling_date           69551 non-null  datetime64[ns]
 4   selling_week           69551 non-null  object
 5   payment_date           69551 non-null  datetime64[ns]
 6   sell_price             69551 non-null  int64
 7   transport_to_merchant  69551 non-null  int64
 8   transport_date         32654 non-null  datetime64[ns]
 9   has_tuning             69551 non-null  int64
 10  has_airbags            69551 non-null  int64
 11  has_alarm_system       69551 non-null  int64
 12  fuel_type              69551 non-null  int64
 13  gear_type              69551 non-null  int64
 14  ac_type                69551 non-null  int64
 15  xenon_light            69551 non-null  int64
 16  navigation_system      69551 non-null  int64
 17  radio_system           43151 non-null  float64
 18  claim_number           19021 non-null  object
 19  full_refunds           69551 non-null  int64
 20  partial_refunds        69551 non-null  int64
 21  voucher_amount         14751 non-null  float64
 22  claim_status           19021 non-null  object
 23  status_code            69551 non-null  int64
dtypes: datetime64[ns](3), float64(3), int64(14), object(4)
memory usage: 13.3+ MB

In [768]:
df_master.describe()

,car_id,merchant_id,sell_price,transport_to_merchant,has_tuning,has_airbags,has_alarm_system,fuel_type,gear_type,ac_type,xenon_light,navigation_system,radio_system,full_refunds,partial_refunds,voucher_amount,status_code
count,6.955100e+04,1.902100e+04,69551.000000,69551.000000,69551.000000,69551.000000,69551.000000,69551.000000,69551.000000,69551.00000,69551.000000,69551.000000,43151.000000,69551.000000,69551.000000,14751.000000,69551.000000
mean,5.482666e+09,8.386137e+06,7456.351828,0.505701,0.386882,0.842748,0.159149,1010.396759,1138.892971,845.42540,173.110149,402.383862,2925.343631,0.028109,0.212089,1929.310084,4.630674
std,2.598456e+09,4.728563e+06,8542.072637,0.499971,0.487040,0.364040,0.365818,171.698535,1.251686,415.52003,398.186022,529.824039,1042.672095,0.165285,0.408790,2183.822999,8.676110
min,1.000145e+09,1.211960e+05,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1138.000000,0.00000,0.000000,0.000000,1099.000000,0.000000,0.000000,10.663349,0.000000
25%,3.238701e+09,4.294300e+06,2251.500000,0.000000,0.000000,1.000000,0.000000,1039.000000,1138.000000,1049.00000,0.000000,0.000000,1606.000000,0.000000,0.000000,667.390055,0.000000
50%,5.464531e+09,8.674186e+06,4824.000000,1.000000,0.000000,1.000000,0.000000,1040.000000,1138.000000,1050.00000,0.000000,0.000000,3534.000000,0.000000,0.000000,1254.627869,0.000000
75%,7.729173e+09,1.236666e+07,9482.500000,1.000000,1.000000,1.000000,0.000000,1040.000000,1139.000000,1050.00000,0.000000,1100.000000,3534.000000,0.000000,0.000000,2373.758762,6.000000
max,9.999930e+09,1.676935e+07,173000.000000,1.000000,1.000000,1.000000,1.000000,1040.000000,1141.000000,1050.00000,1089.000000,1100.000000,3534.000000,1.000000,1.000000,50331.039294,26.000000

In [769]:
df_master['claim_status'].value_counts()

CLOSED_FULLY_PROCESSED                                                    7824
REJECTED                                                                  4755
CLOSED_NO_COMPENSATION                                                    3258
CREATED                                                                    895
CLOSED_ITEMS_FOUND_AND_SENT                                                758
CLOSED_WAITING_FOR_MORE_PROOF                                              335
PROOF_NOT_RECEIVED                                                         301
WAITING_FOR_SALES_TO_NEGOTIATE_WITH_THE_MERCHANT                           226
WAITING_FOR_LOCAL_OPS_MD_DECISION                                          158
MISSING_ITEMS_IN_PROGRESS                                                  131
2ND_DECISION_WAITING_FOR_SALES_TO_NEGOTIATE_WITH_MERCHANT                   76
NEW                                                                         65
WAITING_FOR_CLAIMS_TEAM_2_EVALUATION                                        44
2ND_DECISION_WAITING_FOR_LOCAL_OPS_MD_DECISION                              33
CLOSED_WAITING_FOR_MONEY_TO_BE_SHIPPED_AND_COMPENSATION_TO_BE_RECORDED      32
CLOSED_WAITING_FOR_MERCHANT_BANK_DETAILS                                    31
CLOSED_CARRIER_WILL_COMPENSATE                                              18
CLOSED_WAITING_FOR_DOCUMENTS                                                16
NEW_MISSING_ITEM_CLAIM                                                      15
CLOSED_WAITING_FOR_CAR_DOCUMENTS_AND_BANK_DETAILS                           10
WAITING_FOR_CARRIER_FEEDBACK                                                10
CLOSED_OVER_TIME_LIMIT                                                      10
WAITING_FOR_CLAIMS_TEAM_1_EVALUATION                                         9
MORE_PROOF_RECEIVED                                                          4
2ND_EVALUATION_CLAIMS_TEAM_2                                                 3
WAITING_FOR_BANK_DETAILS_VALIDATION                                          2
WAITING_FOR_LEGAL_TEAM                                                       1
CLOSED_WAITING_FOR_COMPENSATION_TO_BE_RECORDED                               1
Name: claim_status, dtype: int64